IPv4 standalone and mixed addresses

[RFC 4291 §2.2](https://tools.ietf.org/html/rfc4291#section-2.2) gives an official textual form that is a mix of the IPv4 dot-decimal syntax and IPv6 colon-hex syntax:

> An alternative form that is sometimes more convenient when dealing with a mixed environment of IPv4 and IPv6 nodes is `x:x:x:x:x:x:d.d.d.d`, where the `x`s are the hexadecimal values of the six high-order 16-bit pieces of the address, and the `d`s are the decimal values of the four low-order 8-bit pieces of the address (standard IPv4 representation).  Examples:
>
>      0:0:0:0:0:0:13.1.68.3
>
>      0:0:0:0:0:FFFF:129.144.52.38
>
> or in compressed form:
>
>      ::13.1.68.3
>
>      ::FFFF:129.144.52.38

To support this, I need to basically add IPv4 support. I haven't gotten around to the CIDR ranges yet, but when I do, I'll need to figure out if the prefix is a 32 bit mask (IPv4) or 128 bit mask (IPv6).